<div class="row">
    <h1> Hard & Soft Skills</h1>

    
    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
          
        <!-- HTML -->
        <circle-progress 
        	[title]="'HTML'"
            [showUnits]="false"
            [imageSrc]="'../../../assets/html.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="100"
  ></circle-progress>

    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
          
        <!-- CSS -->
        <circle-progress 
        	[title]="'HTML'"
            [showUnits]="false"
            [imageSrc]="'../../../assets/css.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="100"
  ></circle-progress>

    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
          
        <!-- JS  -->
        <circle-progress 
        	[title]="'HTML'"
            [showUnits]="false"
            [imageSrc]="'../../../assets/js.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="100"
  ></circle-progress>

    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
          
        <!-- Bootstrap -->
        <circle-progress 
        	[title]="'HTML'"
            [showUnits]="false"
            [imageSrc]="'../../../assets/bootstrap.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="100"
  ></circle-progress>

    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
          
        <!-- csharp -->
        <circle-progress 
        	[title]="'HTML'"
            [showUnits]="false"
            [imageSrc]="'../../../assets/csharp.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="100"
  ></circle-progress>

    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
          
        <!-- gobstone -->
        <circle-progress 
        	[title]="'HTML'"
            [showUnits]="false"
            [imageSrc]="'../../../assets/gobstone.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="100"
  ></circle-progress>

    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
          
        <!-- mongodb -->
        <circle-progress 
        	[title]="'HTML'"
            [showUnits]="false"
            [imageSrc]="'../../../assets/mongodb.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="100"
  ></circle-progress>

    </div>


    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
          
        <!-- nodejs -->
        <circle-progress 
        	[title]="'HTML'"
            [showUnits]="false"
            [imageSrc]="'../../../assets/nodejs.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="100"
  ></circle-progress>

    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
          
        <!-- sql server -->
        <circle-progress 
        	[title]="'HTML'"
            [showUnits]="false"
            [imageSrc]="'../../../assets/sqlserver.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="100"
  ></circle-progress>

    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
          
        <!-- scratch -->
        <circle-progress 
        	[title]="'HTML'"
            [showUnits]="false"
            [imageSrc]="'../../../assets/scratch.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="100"
  ></circle-progress>

    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
          
        <!-- ARREGLAR -->
        <circle-progress 
        	[title]="'HTML'"
            [showUnits]="false"
            [imageSrc]="'../../../assets/pseint1.ico'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="100"
  ></circle-progress>

    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
          
        <!-- HTML -->
        <circle-progress 
        	[title]="'HTML'"
            [showUnits]="false"
            [imageSrc]="'../../../assets/html.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="100"
  ></circle-progress>

    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
          
        <!-- ruby -->
        <circle-progress 
        	[title]="'HTML'"
            [showUnits]="false"
            [imageSrc]="'../../../assets/ruby.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="100"
  ></circle-progress>

    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
          
        <!-- typescript -->
        <circle-progress 
        	[title]="'HTML'"
            [showUnits]="false"
            [imageSrc]="'../../../assets/typescript.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="100"
  ></circle-progress>

    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
          
        <!-- Github -->
        <circle-progress 
        	[title]="'Github'"
            [showUnits]="false"
            [imageSrc]="'../../../assets/gitlogo.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="100"
  ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
          
        <!-- ingles -->
        <circle-progress 
        	[title]="'Github'"
            [showUnits]="false"
            [imageSrc]="'../../../assets/english.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="100"
  ></circle-progress>
    </div>



</div>